/* :root {
  --color-brand: 259 100% 59%;
  --color-brand-lighter: 259 100% 67%;
  --color-brand-lightest: 259 100% 75%;
  --page-w: 870px;
  --app-w: 120px;
  --app-h: 110px;
  --app-x-gap: 30px;
  --app-y-gap: 12px;
  --apps-max-w: 934px;
  --apps-padding-x: 32px;
  --widget-w: 270px;
  --widget-h: 150px;
  --widget-labeled-h: 176px;
  overflow: hidden;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
:root body {
  font-family: "Inter", sans-serif;
  background: #0a0915;
  color: #fff;
  /* color: var(--textColor); */
  /* background-image: url(../Images//umbrel/1.jpg); */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  /* height: -webkit-fill-available; */
  overflow: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.modalDialog::-webkit-scrollbar {
  display: none;
}
.themeClr {
  color: #df723b;
}
.container {
  max-width: 1000px !important;
  padding: 0 10px !important;
}
.modalDialog {
  width: calc(100% - 20px) !important;
}
.modalDialog,
.pageCard {
  max-height: calc(100vh - 60px);
  max-width: 1100px !important;
  scrollbar-width: none;
  overflow: scroll;
  border: 1px solid #dddddd21;
  background: #00000099;
}
.pageCard {
  /* border-top-left-radius: 20px; */
  border-radius: 20px;
  height: calc(100vh - 140px);
  /* padding-bottom: 200px !important; */
  /* min-height: calc(100vh - 79px); */
  width: 100% !important;
}
.commonBtn {
  background-color: #df723b !important;
  border-color: #df723b !important;
  transition: 0.4s;
}
.iconWithText .icn.absolute {
  top: 50%;
  transform: translateY(-50%);
}
.commonBtn:hover {
  background-color: #f9bfa1 !important;
  border-color: #df723b !important;
}
.umbrel-divide-y > * {
  position: relative;
}
.umbrel-divide-y > * + *::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from),
    rgb(255 255 255 / 0.05) var(--tw-gradient-via-position),
    var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.btn {
  min-height: unset !important;
  padding: 10px;
  border-radius: 6px;
}

.Toastify__toast-container {
  z-index: 999999 !important;
}
input {
  opacity: 1 !important;
}
input.form-control {
  height: 45px;
}

.form-control {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
}
* {
  -webkit-overflow-scrolling: auto !important; /* disables momentum scrolling on iOS */
}
@media (max-width: 575px) {
  .pageCard {
    height: calc(100vh - 260px);
  }
}
